.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  position: absolute;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  background: none;
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 12px;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-btn {
  padding: 18px 32px;
  background-color: #212121;
  border-radius: 8px;
  color: white;
  max-width: 100%;
  width: 156px;
}

.modal__save-btn:hover {
  cursor: pointer;
}

.modal__close-icon {
  align-self: center;
}

@media screen and (max-width: 627px) {
  .modal {
    visibility: hidden;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__save-btn {
    width: 100%;
  }

  .modal__input {
    padding: 12px 0;
  }
}
