.profile {
  display: flex;
  border-bottom: 1px rgba(33, 33, 33, 40%) solid;
  padding: 34px 0 20px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  opacity: 70%;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  padding: 0;
  display: flex;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  background: none;
  color: #212121;
  opacity: 70%;
  border: none;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: 138px;
  width: 149px;
  height: 52px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__icon {
  padding-right: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }

  .profile__edit-btn {
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  .profile__add-btn {
    margin: 0;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    line-height: 1;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }
}
